@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
    --primary-color: #fafafa;
    --secondary-color: #000;
    --botton-color: crimson;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.navbar { 
    height: 4rem;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 2px solid var(--botton-color);
}

.logo {
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 5px var(--secondary-color);
}

main {
    background-image: url("images/wallpaper2.jpg");
    height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
