@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
    --primary-color: #fafafa;
    --secondary-color: #000;
    --botton-color: crimson;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.navbar { 
    height: 4rem;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.navbar::after {
    content:"";
    background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    height: 0.4rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.logo {
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 5px #fff;
}

main {
    height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: var(--primary-color);
}

main h1 {
    background-color: rgba(255,255,255,0.8);
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    color: transparent; 
    -webkit-text-stroke: 2px #000;
}
